# Python
__pycache__/
*.pyc
*.pyo

# Conda / venv
.env
.venv
conda/
miniconda/

# HuggingFace / cache
.cache/
hf_cache/
~/.cache/

# PyTorch
*.pth
*.ckpt


# OS
.DS_Store
Thumbs.db

# ignore results outputs
Src/Evaluation/results/*
Src/Evaluation/outputs/default/*

# but keep directory itself
!Src/Evaluation/results/.gitkeep
!Src/Evaluation/results/.gitignore
!Src/Evaluation/outputs/default/.gitkeep
!Src/Evaluation/outputs/default/.gitignore